:markdown
  # Felix Geisendörfer

  Hi, I run a small consultancy in Berlin called [debuggable][]. We bootstraps
  a web service named [transloadit][].

  [debuggable]: http://debuggable.com/
  [transloadit]: https://transloadit.com/

  I am also a long time [node.js][] core contributor, and sometimes available for
  [consulting][debuggable].

  [node.js]: http://nodejs.org/

  ## Upcoming Talks

ul
  each talk in upcomingTalks
    li
      include talk
