!!!5
html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
    include analytics
  body
    div(class='container')
      block breadcrumbs
        a(href='/') Home
        \ &raquo
        = title
      h1= title
      block content
        p Nothing to see here yet ...
