extends ../layout
block content
  :markdown
    To help bootstraping [transloadit][], I take on a limited amount of
    consulting work which consists of:

    * Advising on the architecture and code base of node.js apps
    * Bringing teams up to speed with node.js and best practices
    * Small and highly focused development projects (1-2 weeks maximum)
    * Improvements to any of my npm modules / writing new modules

    Generally speaking, I can help with most problems related to writing and
    running node.js applications.

    [transloadit]: https://transloadit.com/

    ## Terms

    * I only work full days in order to maximize my focus on your project.
    * My current fee is 1000 EUR per day worked (~8 hours).

    ## Travel

    If you require me to travel to your location:

    * You are responsible for providing flights & accomodation.
    * You need to book at least 5 full days if you are outside of the EU.

    ## Booking

    Just send an e-mail to [felix@debuggable.com][].

    [felix@debuggable.com]: mailto:felix@debuggable.com
