extends ../layout
block content
  :markdown
    I enjoy talking at tech conferences and user groups, so if you are
    looking for a speaker to talk about node.js or related topics,
    please get in [touch][email].

    [email]: mailto:felix@debuggable.com

  :markdown
    ## Speaker Bio

    Felix Geisendörfer ([picture][]) is a node.js core developer and has experienced it's
    strength and shortcomings first-hand while building transloadit.com.
    When not event-looping, he loves going [street unicycling][] and watching squirrels.

    [picture]: http://felixge.s3.amazonaws.com/11/felix_geisendoerfer.jpg
    [street unicycling]: http://www.youtube.com/results?search_query=street+unicycling

  h2 List of talks
  ul.talks
    each talk in talks
      - var upcoming = (talk.date > Date.now() || talk.date[1] > Date.now())
      li.talk
        a.link(href='#{ talk.url }')
          span.date
            if upcoming
              span.upcoming Upcoming:&nbsp;
            = days(talk.date)
          img(src='#{ talk.image || 'http://placehold.it/220x146' }')
          span.title!= talk.title + '<br><br>' + talk.location
          span.name= talk.event.name
        //-include talk
