/* Mixins */
@mixin box-shadow($style, $color) {
  box-shadow:         $style $color;
  -webkit-box-shadow: $style $color;
  -moz-box-shadow:    $style $color;
}

/* Layout */
#logo{
  display: block;
  width: 282px;
  margin: 20px auto 0 auto; 

  img{
    height: 180px;
  }
}

.header{
  width: 100%;
  background-color: #333;
  line-height: 40px;
  font-size: 18px;
  position: fixed;
  top: 0;
  z-index: 99999;

  ul{
    padding: 0;
    margin: 0;
    text-align: center;

    li{
      display: inline;
      list-style-type: none;
      margin-right: 15px;
      a{
        color: #fff;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}

.container{
  width: 960-120px;
  padding: 20px 60px;
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid #C1C1C1;
  @include box-shadow(1px 1px 1px, #ccc);
}

.toc{
  width: 100%;
  margin: -10px 0 25px 0;

  tr{
    line-height: 30px;
  }

  td{
    span{
      background-color: #fff;
      bottom: -10px;
      position: relative;
    }
  }

  .title {
    span{
      padding-right: 20px;
    }
  }

  .title, .location{
    border-bottom: 2px dotted #ccc;
  }

  .date, .location a{
    color: grey;
  }

  .location{
    text-align: right;
		padding-right: 0;
    span{
      padding-left: 20px;
    }
  }

  .date{
    text-align: right;
    width: 105px;
  }
}

/* Testimonials */
blockquote{
  hr{
    margin-top: 20px;
  }

  cite{
    display: block;
    text-align: right;
    width: 100%;
    &:before{
      content: "— ";
    }
  }
}

/* Code */
.highlight { 
  background-color: #efefef;
  padding: 7px 7px 7px 10px;
  border: 1px solid #ddd;
  -moz-box-shadow: 3px 3px rgba(0,0,0,0.1);
  -webkit-box-shadow: 3px 3px rgba(0,0,0,0.1);
  box-shadow: 3px 3px rgba(0,0,0,0.1);
  margin: 20px 0 20px 0;
  overflow: auto;
}

/* Generic Styles */

body{
  font-family: 'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #E9E9E9;
  color: #333;
  margin: 0;
  padding-bottom: 30px;
  font-size: 17px;
}

a{
  color: #0050C0;
}

a:visited{
  color: #B950B7;
}


h1 a, h2 a, h3 a, h4 a{
  text-decoration: none;
  color: #333 !important;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover{
  text-decoration: underline;
}

h1{
  font-size: 25px;
}

h2{
  margin-top: -60px;
  padding-top: 60px;
  font-size: 20px;
}

p{
  line-height: 28px;
  clear: both;
}
